<!--The content below is only a placeholder and can be replaced.-->
<div>
  <h1>  
    Welcome to {{ title }}!
  </h1>
  Enter your Details:<br>
  <input type="text" placeholder="Enter your R.No" [(ngModel)]='no'><br>
  <input type="text" placeholder="Enter your Name" [(ngModel)]='name'><br>
  <input type="text" placeholder="Enter your Age " [(ngModel)]='age'><br>
  <input type="text" placeholder="Enter your dept" [(ngModel)]='dept'><br>
  <input type="text" placeholder="Enter your collage_Name" [(ngModel)]='clg_name'><br>
  <button class="btn span2" (click)='show()'>submit</button> 
  <button class="btn span2" *ngIf='hideOperation1' (click)='clear()'>clear</button>
  <br>
  <p *ngIf='hideOperation1'>
    <br>
    R.No : {{no}}<br>
    Name : {{name}}<br>
    Age : {{age}}<br>
    Dept : {{dept}}<br>
    Collage Name : {{clg_name}}
  </p>
  <br>
  <!-- add two numbers -->
  ADD two numbers: 
  <input type="number" [(ngModel)]='value1'><br>
  <input type="number" [(ngModel)]='value2'><br>
  <button class="btn" (click)="addition()">Add</button>
  <p *ngIf='hideOperation2'>Ans is {{ans}}</p>
</div>
<br>
<div class="row-fluid">
  <mycomponent>
    welcome to my new component
  </mycomponent>
</div>
<!-- AMD form -->
<h4 style="padding: 10px"> form using Angular Material Design</h4>
<mat-card>
  <mat-form-field>
    <input matInput placeholder="Enter Your Name" [(ngModel)]="name"><br>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Enter Your Age" [(ngModel)]='age'><br>
  </mat-form-field><br>
  <mat-form-field>
    <input matInput placeholder="Enter Your Dept" [(ngModel)]='dept'><br>
  </mat-form-field><br>
  <button mat-raised-button color="primary" (click)='amdShowFunction()'>show</button>
  <mat-card *ngIf='amdHideValue'>
    Name : {{name}}<br>
    Age : {{age}}<br>
    Dept : {{dept}}<br>
  </mat-card>
</mat-card>