<mat-card>
  <h1>welcome to Angular</h1>
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile>
      <p>
        Grid using AMD <br>
        AMD - Angular Material Design
      </p>
    </mat-grid-tile>
  </mat-grid-list>
    <button mat-button>Click</button>
    <button mat-flat-button color="accent">Enter</button>
</mat-card>
<div class="row" id="div1">
  <h3>Grid using Bootstrap</h3>
  <div class="span4">
    <h4>Grid 1</h4>
    <p>span size 4</p>
  </div>
  <div class="span4">
    <h4>Grid 2</h4>
    <p>span size 4</p>
  </div>
</div>